/* ========================================
    
    File: style_ie6fixes.css
    Site: preview.com
    Author: Rob Dove (preview.co.uk)
    Copyright: 2009 preview.co.uk
 
   ======================================== */

